:root {
	--primary: #582C83;
	--secondary: black;
	--background: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

p {
	line-height: 2;
}

h1 {
	color: var(--background);
	font-family: 'Tenor Sans', sans-serif;
	line-height: 1.2;
	text-shadow: 2px 0px 6px rgba(0,0,0,0.6);
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

header,
main,
footer {
	padding: 1em;
}

header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

.social, .main-nav {
	display: flex;
	justify-content: space-between;
	margin: .5em 0;
}

.mainlink img {
	height: 60px;
}

a.icon {
	background: #666666;
	border-radius: 12px;
	display: inline-block;
	height: 24px;
	width: 24px;
	color: white;
	font-weight: bold;
	padding-top: 3px;
	text-align: center;
}

.mobile-menu {
	margin-top: .8em;
}

/******* HEADER NAV *******/

nav {
	background-color: white;
	position: absolute;
	top: 8em;
	transform: translateX(-110%);
	transition: all .5s;
	width: 100%;
}

nav.is-active {
	transform: translateX(0);
}


nav ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: block;
	margin: 1em 0;
}

nav li:has(> ul) {
	background: red;
}

nav li a {
	font-family: 'Tenor Sans', sans-serif;
	color: black;
	padding: .25em .5em;
	text-transform: uppercase;
}

nav li a[href]:not(:hover) {
	text-decoration: none;
}

nav li a[data-current="current item"] {
	background-color: white;
}

nav li ul {
	display: none;
	margin-left: 1em;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

main h1 {
	padding-bottom: 80vh;
}

.page__difference main {
	background: url(/static/img/MSC-coolwallapps-hero-MOBILE.jpg);
}

.page__difference main, .page__guarantee main, .page__pros main {
	background: url(/static/img/MSC-coolwallapps-hero-MOBILE.jpg) center top no-repeat;
	background-size: contain;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}

@media screen and (min-width:960px) {
	:root {
		font-size: 1.1rem;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 66%;
	}

/****** DESKTOP NAVIGATION ******/
	nav {
		padding: 8em;
		transform: translateY(-130%);
		transition: all .5s;
		width: 100%;
	}

	nav.is-active {
		transform: translateY(0);
	}

	.flex {
		display: flex;
	}

	.align-items-center {
		align-items: center;
	}

	.space-around { 
		justify-content: space-around; 
	}

	.summary, .image {
		flex-basis: 50%;
	}

	header {
		z-index: 2;
	}

	header nav ul :first-child {
	margin-left: 0;
	}

	header nav li {
		display: inline-block;
		margin: 0 .5em;
	}

	main h1 {
		padding-bottom: 200px;
	}

	.page__difference main {
		background: url(/static/img/MSC-coolwallapps-hero.jpg) center top no-repeat;
		background-size: contain;
	}
}

/****** BIG SCREENS ******/

@media screen and (min-width:1200px) {
	:root {
		font-size: 1.1rem;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	nav {
		display: block;
	}

	header nav li {
		display: inline-block;
		margin: 0 .25em;
	}

	.home main p img {
		height: 660px;
	  	width: 660px;
	}

}

