:root {
	--primary: #582C83;
	--secondary: black;
	--background: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.mobile {
	display: block;
}

.desktop {
	display: none;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--background);
}

p {
	font-size: 1em;
    line-height: 1.6
}

h1 {
	color: var(--primary);
	font-family: 'Tenor Sans', sans-serif;
	font-size: 1.8em;
	line-height: 1.2;
}

h2 {
	color: var(--primary);
	font-family: 'Tenor Sans', sans-serif;
	font-size: 1.5em;
	line-height: 1.2;
}

a[href],
a[href]:visited {
	color: var(--primary);
	font-weight: 700;
}

a[href]:not(:hover) {
	text-decoration: none;
}

.link-subsection {
	background: url(/static/img/MSC-FAQ-caret.svg) right center no-repeat;
	background-size: 1em;
	display: block;
	font-family: 'Tenor Sans',sans-serif;
    font-size: 1.2em;
    padding: .1em 1.5em 0 0;
    text-align: right;
}

.link-subsection + br {
  	display; none;
}

small {
	color: var(--primary);
	display: block;
	font-size: .7em;
	line-height: 1.2;
}

small.mobile {
	font-size: .6em;
}

footer small {
	color: white;
	padding: 2em 0 0;
}

sup {
    position: relative;
    font-size: 40%;
    line-height: 0;
    vertical-align: baseline;
    top: -1.2em;
}

.bleed-left {
	margin: 0 0 0 -3em;
	max-width: none;
}

.bleed-right {
	margin: 0 -3em 0 0;
	max-width: none;
}

.align-items-center {
	align-items: center;
}

.space-around { 
	justify-content: space-around; 
}

.space-between { 
	justify-content: space-between; 
}

.grid-container {
  	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: 1fr 1fr;
  	gap: 1em 1em;
  	grid-template-areas: "left right";
  	padding: 0 1em;
}

.hero__testimonials .grid-container, .hero__testimonials-g4 .grid-container { /* this might work for a most or all grid-containers on mobile but let's wait and see */
/*  	display: grid;
  	grid-template-columns: 1fr;
  	grid-template-rows: 1fr;
  	gap: 1em 1em;
  	grid-template-areas: "right";*/
}

.hero__testimonials .grid-container .right, .hero__testimonials-g4 .grid-container .right {
	padding: 0 1em;
}

/*.hero.hero__testimonials .grid-container:first-of-type {
    background: url(/static/img/mobile/MSC-5starreviews-hero.jpg)center top no-repeat;
}*/

.hero .grid-container .left {
	display: grid;
	place-items: center left;
}

li.copyright {
	display: none;
}

.social, .main-nav {
	display: flex;
	justify-content: space-between;
	margin: .5em 0;
}

.contacts {
	margin-right: .5em;
}

.mainlink img {
	height: 60px;
}

a.icon {
	display: inline-block;
	height: 20px;
	width: 20px;
}

a.phone-number {
	display: inline-block;
	font-size: .75em;
	font-weight: 400;
    transform: translateX(5px);
}

.question {
	background: url(/static/img/MSC-FAQ-caret.svg) left center no-repeat;
	background-size: 1em;
	color: var(--primary);
	cursor: pointer;
	font-weight: 700;
	margin: .5em 0;
	padding: .5em 0 .5em 1.5em;
	transition: all .5s;
}

.answer p {
	padding: 0 1em;
}

.reviews-g4 {
	margin-left: -1.5em;
}

.hero .grid-container {
	transform: translateY(-50px);
}

.mobile-menu {
	margin-top: .8em;
}

header {
	background: white;
	height: 7em;
	position: fixed;
	width: 100%;
	z-index: 2;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
}

.menu-container {
	background: white;
	padding: 1em;
    position: absolute;
    width: 100%;
}

main {
	margin-top: 7em;
	padding: 0 2em;
}

/******* HEADER NAV *******/

nav.header {
	background-color: white;
	position: absolute;
	top: 7em;
	padding: 1em;
	transform: translate(-110%, -1px);
	transition: all .5s;
	width: 100%;
	z-index: 2;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
}

nav.header.is-active {
	transform: translate(0, -1px);
}

nav.header ul {
	padding: 0;
	list-style: none;
}

nav.header li {
	display: block;
	margin: 1em 0;
}

nav.header li:has(> ul) {
	background: red;
}

nav.header li a {
	font-family: 'Tenor Sans', sans-serif;
	color: black;
	padding: .25em .5em;
	text-transform: uppercase;
}

nav.header li a[href] {
	text-decoration: none;
	transition: all .2s ease;
}

nav.header li a[href]:hover {
	background: var(--primary);
	color: white;
}

nav.header li a[data-current="current item"] {
	background-color: orange;
}

nav.header li ul {
	display: none;
	margin-left: 1em;
}

/****** FOOTER ******/

footer {
	background-color: black;
	color: white;
	margin-top: 2em;
	padding: 4em;
}

footer img.logo {
	height: 60px;
	margin: 0 0 2em;
}

nav.footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav.footer ul li {
	font-size: .9em;
}

nav.footer ul li ul {
	display: none;
}

nav.footer a[href], nav.footer a[href]:visited {
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: 200;
	line-height: 2;
	text-transform: uppercase;
}

/****** CONTACT FORM ******/

form {
  	display: grid;
	padding: 2em 0;
}

form label {
  	display: none;
}

form fieldset {
	display; flex;
}

form fieldset label {
  	display: inline-block;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 0px;
}

input[type="checkbox"] {
    background-color: white;
    cursor: default;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 3px 0.5ex;
    padding: 1em;
    border: var(--primary);
}

input,
textarea,
button {
  	width: 100%;
  	padding: 1em;
  	margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: white;
	cursor: pointer;
}

select {
    align-items: center;
    border-radius: 0px !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
    border-image: initial;
    background-color: var(--bsckground);
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 49.42 26.83'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23036;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Echevron%3C/title%3E%3Cpath class='cls-1' d='M24.71,26.83.44,2.56A1.5,1.5,0,0,1,2.56.44L24.71,22.59,46.86.44A1.49,1.49,0,0,1,49,.44a1.51,1.51,0,0,1,0,2.12Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 1em top 50%, 0 0;
    background-size: 1.5em auto, 100%;
    cursor: default;
    color: var(--primary);
    display: inline-block;
    font: 200 20px "Roboto", sans-serif;
    height: 3em;
    margin: 1em auto;
    padding: .75em;
    word-spacing: normal;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-rtl-ordering: logical;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    white-space: pre;
    width: 96%;
}

/****** MAIN (CONTENT AREA) ******/

.content {
	position: relative;
}

.hero main {
	display: grid;
	place-items: center;
	padding: 0;
	width: 100%;
}

.hero main h1 {
	color: var(--background);
	position: absolute;
	top: 1em;
	left: 1em;
	font-size: 1.2em;
	text-shadow: 2px 0px 6px rgba(0,0,0,0.6);
	text-transform: uppercase;
}

.hero__home main h1 {
	padding: 8vh 0 0 8vw;
	/* headline is "FIND YOUR COOLWALL COLOR" */
}

.hero__color-chart main h1 {
	padding: 8vh 0 0 8vw;
	/* headline is "COOLWALL COLORS" */
}

.hero.hero__applications main h1 {
	color: black;
    padding: 0;
    top: 3em;
    width: 85%;
    /* headliine is "FOR RESIDENTIAL OR COMMERCIAL APPLICATIONS, COOLWALL® REDUCES COOLING COSTS IN ALL COLORS. */

}

.hero.hero__difference main h1 {
	font-size: 1.2em;
	width: 85%;
	/* headline is "MIDSOUTH COATING’S COOLWALL® SYSTEM IS SIMPLYTHE MOST ADVANCED EXTERIOR COATING ON THE MARKET TODAY."
*/
}

.hero.hero__testimonials main h1, .hero.hero__testimonials-g4 main h1 {
    font-size: 1em;
    text-transform: none;
    width: 72%;
    padding: 1em;
}

.hero.hero__testimonials main h1 span, .hero.hero__testimonials-g4 main h1 span {
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: .5em;
	font-weight: 300;
	margin-top: .5em;
	text-shadow: none;
}

.hero-display {
	display: grid;
	place-items: center;
}

.hero-content {
	background: white;
	padding: 1em;
}

.hero .content p {
	background: white;
    margin-bottom: 1em;
}

.content img {
	width: 100%; /* I know, I know, this is going to be too powerful. */
}

.request-quote {
	border: 1px solid var(--primary);
	display: inline-block;
	font-family: "Tenor Sans", sans-serif;
	font-size: 2em;
	margin: 1em 0 2em;
	padding: .5em 1em;
	text-transform: uppercase;
	transition: background .2s ease, color .2s ease;
}

header .request-quote {
	font-size: 1em;
}

header.mobile a.request-quote {
	display: none;
	font-size: .75em;
}

nav a.mobile.request-quote {
	display: inline-block;
	font-size: 1em;
	margin: 0;
}

a.request-quote[href]:hover {
	background: var(--primary);
	color: white;
	text-decoration: none;
}


/****** COLOR CHART ******/

.hero__color-chart .content p {
	font-size: 0.85em;
    line-height: 1.6;
}

.color-chart {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 3em;
	max-width: 1200px;
}

.color-chart h2 {
	flex-basis: 100%;
	text-align: center;
}

.color-chart div {
	flex-basis: 25%;
	font-size: .75em;
	text-align: center;
}

.color-chart div span.color-swatch {
	display: block;
	border-radius: 2rem;
	height: 4rem;
	width: 4rem;
	margin: 1rem auto;	
}

.color-name {
	display: block;
	font-weight: 600;
	text-transform: uppercase;
}

.color-chart-form {
	text-align: center;
}

.hero main .color-chart-form h1 {
	color: black;
	left: 0;
	margin-bottom: 2em;
	padding: 0;
	position: relative;
	text-shadow: none;
}

/****** REVIEWS ******/

.reviews p {
	font-size: .9em;
	line-height: 1.3;
}

.hero .content .reviews p.pullquote {
	color: var(--primary);
	font-family: "Tenor Sans", sans-serif;
	font-size: 2rem;
	line-height: 1.3;
	margin-top: 1em;
}

.pullquote span {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

/****** PROS ******/

.steps p {
	margin: 0 2em 3em 0;
}

/****** DESKTOP ******/

@media screen and (min-width:800px) {
	:root {
		font-size: 1.1rem;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	p {
		font-size: .85em;
	    line-height: 2;
		max-width: 640px;
	}

	.page__contact p, .page__thank-you p {
		max-width: 95%;
	}

	h1 {
	    font-size: 2em;
	}


/****** DESKTOP NAVIGATION ******/

	header {
		/* padding: 1em 2em;*/
		padding: 0;
	}

	.menu-container {
		background: white;
		padding: 1em 2em;
		z-index: 5;
	    position: absolute;
	    width: 100%;
	}

	nav.header {
		position: absolute;
		top: 9em;
		left: 0;
		padding: 8em;
		transform: translateY(-130%);
		transition: all .5s;
		width: 100%;
		-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	}

	nav.header.is-active {
		transform: translateY(-5%); /* this should be 0, this is a temp fix...he said */
	}

	.flex {
		display: flex;
	}

	.align-items-center {
		align-items: center;
	}

	.space-around { 
		justify-content: space-around; 
	}

	.space-between { 
		justify-content: space-between; 
	}

	.flex-end {
		justify-content: flex-end;
	}

	.summary, .image {
		flex-basis: 50%;
	}

	.linebreak, h1 span {
		display: block;
	}

	header {
		z-index: 3;
	}

	nav.header li ul {
	    display: block;
	    margin-left: 1em;
	}

	nav.header li ul li a {
		color: black;
		font-family: 'Roboto', sans-serif;
		font-size: .8em;
		font-weight: 500;
	}

	ul.column {
		margin: 0 6em 0 0;
	}

	footer {
		text-align: center;
	}

	footer div {
		margin: 0 auto;
		max-width: 75%;
		text-align: left;
	}

	footer img.logo {
	    height: 91px;
	}

	li.copyright {
		display: block;
		padding: 1em 0;
	}

	.mainlink img {
	     height: 81px; 
	     width: 195px;
	}

	.mobile-menu {
		display: flex;
		margin-top: 0;
	}

	.hours {
		font-size: .7em;
	}

	.desktop-menu {
		margin-top: 1em;
	}

	.desktop-menu .request-quote {
		margin: 0;
		white-space: nowrap;
	}

	nav a.mobile.request-quote {
		display: none;
	}

	.social {
		display: block;
		margin: .5em 0;
		text-align: right;
	}

	.contacts {
		margin-right: 0;
	}

	a.icon {
		display: inline-block;
		height: 20px;
		margin-left: 1em;
		width: 20px;
		transform: translateY(6px);
	}

	.hero .grid-container {
		transform: translateY(-50px);
	}

	.hero main h1 {
		font-size: 3.2vh;
		text-transform: uppercase;
	}

	.hero__home main h1 {
		padding: 16vh 0 0 8vw;
		/* headline is "FIND YOUR COOLWALL® COLOR" */
	}

	.hero__color-chart main h1 {
		padding: 16vh 0 0 8vw;
		/*  headline is "COOLWALL® COLORS", heep it the same as .hero__home */
	}

	.hero.hero__applications main h1 {
	    padding: 4vh 0 0 4vw; 
	    /* headline is "FOR RESIDENTIAL OR COMMERCIAL APPLICATIONS, COOLWALL® REDUCES COOLING COSTS IN ALL COLORS. 
	    --long headline that prints over a wood pattern, it's going to be wrong about half the time */
	}

	.hero.hero__difference main h1 {
		font-size: 2em;
		/* headline is "MIDSOUTH COATING’S COOLWALL® SYSTEM IS SIMPLY THE MOST ADVANCED EXTERIOR COATING ON THE MARKET TODAY."
		--long headline that needs to be up in the sky, default padding is o.k.*/
	}

	.hero.hero__testimonials main h1, .hero.hero__testimonials-g4 main h1 { 
		/* headline is "“We have been very pleased in all our dealings with Kevin Mmahat and his company, MidSouth Coatings. It's a smart product and well worth the cost. He is honest, works within the budget, and the results are stellar. The fact that Kevin is a local boy is another reason to do business with him. We can recommend him wholeheartedly.”
★★★★★ - David Palmisano" */
		font-size: 1.5em;
		text-transform: none;
	}

	.hero-content {
		margin-top: -4em;
	}

	.hero .content p{
		background: white;
    	padding: 0 2em;
	}

	.reviews-g4 {
		background: white;
    	padding: 0;
	}

	.left p:first-of-type, .right p:first-of-type {
		margin-top: 0;
	}

	.page h1 {
		margin: 4em 0;
	}

	.page.page__contact h1, .page.page__thank-you h1 {
		margin: 1em 0;
	}

	.page h2 {
		margin: 4em 0 2em;
	}

	.grid-container {
	  	display: grid;
	  	grid-template-columns: 1fr 1fr;
	  	grid-template-rows: 1fr;
	  	gap: 1em 4%;
	  	grid-template-areas: "left right";
	}

	.left { grid-area: left; }

	.right { grid-area: right; }

	.full p {
		max-width: 60%;
	}

	.full img {
		width: 168px;
	    float: left;
	    margin-right: 2em;
	    margin-bottom: 1em;
	}

/*	.hero.hero__testimonials .grid-container:first-of-type {
	    background: url(/static/img/MSC-5starreviews-hero.jpg)center top no-repeat;
	}*/

	.grid-container.residential {
	  	grid-template-columns: 38% 58%;
	 }

	 .grid-container.commercial {
	  	grid-template-columns: 38% 58%;
	 }

	 .grid-container.floor-and-deck {
	  	grid-template-columns: 38% 58%;
	 }

	.grid-container.guarantee {
	  	grid-template-columns: 38% 58%;
	 }

	.grid-container.energy-savings {
	  	grid-template-columns:  38% 58%;
	 }

	.grid-container.pros .right img {
		display: none;
	}

	.grid-container.pros .right.display-images img {
		display: block;
	}

	/****** COlOR CHART ******/

	.color-chart div {
		flex-basis: 16.66%;
	}

	/****** PROS ******/

	.grid-container.pros {
	  	display: grid;
	  	grid-template-columns: 1fr 1fr;
	  	grid-template-rows: 1fr;
	  	gap: 1em 10%;
	  	grid-template-areas: "left right";
	}

	.left { grid-area: left; }

	.right { grid-area: right; }

	.grid-container.pros img {
		width: auto;
	}

	.grid-container.pros .left p {
		/*width: 80%;*/
	}

	.grid-container.pros .left img  {
		width: 100%;
	}

	.steps p {
		margin: 0 2em 3em 0;
	}

	/****** TESTIMONIALS ******/
		
	.hero .content .reviews p.pullquote {
		transform: translateX(-55%);
	    max-width: 200%;
	    width: 200%;
	}

	/****** CONTACT FORM ******/

	form {
		padding: 0
	}
	select {
		width: 18%;
	}
	
}

@media all and (max-width: 960px) { 
	.request-quote {
			font-size: 1.6vh;
	}

	.hero.hero__testimonials main h1, .hero.hero__testimonials-g4 main h1 {
	    font-size: 1.2em;
	}
}
	