@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	.hero__home main h1 {
	    padding: 6vh 0 0 8vw;
	}

	.hero main h1 {
	    font-size: 2.2vh;
	    text-transform: uppercase;
	}

	.hero.hero__testimonials main h1 {
	    font-size: 1.5em;
	}

	.linebreak {
		display: inline;
	}

}


@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) 
and (orientation : portrait) { 

	.hero__home main h1 {
	    padding: 6vh 0 0 8vw;
	}

	.hero main h1 {
	    font-size: 2.2vh;
	    text-transform: uppercase;
	}

	.hero.hero__testimonials main h1 {
	    font-size: 1.5em;
	}

	.linebreak {
		display: inline;
	}

}