<div class="color-chart">
<h2>CLEAR TO MISTY COLORS</h2>

<div><span class="color-swatch" style="background-color: #EFDEDE;"></span><span class="color-name">Pink Hibiscus</span><span> 4A-2P</span></div>
<div><span class="color-swatch" style="background-color: #794440;"></span><span class="color-name">Burgundy Dash</span><span> 7A-1A</span></div>
<div><span class="color-swatch" style="background-color: #CE9384;"></span><span class="color-name">Santa Fe</span><span> 14B-3D</span></div>
<div><span class="color-swatch" style="background-color: #BD7B6B;"></span><span class="color-name">Mineral Red</span><span> 14B-4D</span></div>
<div><span class="color-swatch" style="background-color: #F4E9DA;"></span><span class="color-name">September Cream</span><span> 17A-2P</span></div>
<div><span class="color-swatch" style="background-color: #F2D7CD;"></span><span class="color-name">Peach Dust</span><span> 15A-3P</span></div>
<div><span class="color-swatch" style="background-color: #F2D9C4;"></span><span class="color-name">Peach Whisper</span><span> 17A-3P</span></div>
<div><span class="color-swatch" style="background-color: #F4E0B8;"></span><span class="color-name">Candelabra</span><span> 19A-3P</span></div>
<div><span class="color-swatch" style="background-color: #F1D2AB;"></span><span class="color-name">Orange Paste</span><span> 18B-1P</span></div>
<div><span class="color-swatch" style="background-color: #E3A772;"></span><span class="color-name">Orange Drop</span><span> 18B-3D</span></div>
<div><span class="color-swatch" style="background-color: #D5996B;"></span><span class="color-name">Mango</span><span> 18C-3D</span></div>
<div><span class="color-swatch" style="background-color: #C78254;"></span><span class="color-name">Lacquer Orange</span><span> 18C-4D</span></div>
<div><span class="color-swatch" style="background-color: #F1C687;"></span><span class="color-name">Orange Gem</span><span> 19B-2T</span></div>
<div><span class="color-swatch" style="background-color: #EDB469;"></span><span class="color-name">Tangerine</span><span> 19B-3D</span></div>
<div><span class="color-swatch" style="background-color: #A26E49;"></span><span class="color-name">Patio Brick</span><span> 20A-1A</span></div>
<div><span class="color-swatch" style="background-color: #EDDFCC;"></span><span class="color-name">Vanilla Ice</span><span> 20A-2P</span></div>
<div><span class="color-swatch" style="background-color: #E3C7AA;"></span><span class="color-name">Honey Rose</span><span> 20B-1P</span></div>
<div><span class="color-swatch" style="background-color: #C19873;"></span><span class="color-name">Smoked Seville</span><span> 20B-3D</span></div>
<div><span class="color-swatch" style="background-color: #B38561;"></span><span class="color-name">Cattail</span><span> 20B-4D</span></div>
<div><span class="color-swatch" style="background-color: #DABD9F;"></span><span class="color-name">Vicuna</span><span> 20C-1P</span></div>
<div><span class="color-swatch" style="background-color: #F0CE8D;"></span><span class="color-name">Abigail</span><span> 27C-1T</span></div>
<div><span class="color-swatch" style="background-color: #F1C877;"></span><span class="color-name">Golden Corn</span><span> 27C-2T</span></div>
<div><span class="color-swatch" style="background-color: #EAB85A;"></span><span class="color-name">Clarion</span><span> 27C-3D</span></div>
<!--div>---</div-->
<div><span class="color-swatch" style="background-color: #f5e9c0;"></span><span class="color-name">Aureole</span><span> 28A-3P</span></div>
<div><span class="color-swatch" style="background-color: #f5e2ac;"></span><span class="color-name">Golden Blond</span><span> 27A-3P</span></div>
<div><span class="color-swatch" style="background-color: #f6db99;"></span><span class="color-name">Yellow Buff</span><span> 27B-1P</span></div>
<div><span class="color-swatch" style="background-color: #efcd70;"></span><span class="color-name">Golden Haze</span><span> 28C-3T</span></div>
<div><span class="color-swatch" style="background-color: #f4f2d4;"></span><span class="color-name">Peaceful</span><span> 30A-2P</span></div>
<div><span class="color-swatch" style="background-color: #f5efc3;"></span><span class="color-name">Queen Anne's Lace </span><span> 31A-3P</span></div>
<div><span class="color-swatch" style="background-color: #f4efce;"></span><span class="color-name">Whipped Cream</span><span> 33A-2P</span></div>
<div><span class="color-swatch" style="background-color: #f0e5b2;"></span><span class="color-name">Mellow Yellow</span><span> 33B-1P</span></div>
<div><span class="color-swatch" style="background-color: #ebdd99;"></span><span class="color-name">Sprout</span><span> 33B-2T</span></div>
<div><span class="color-swatch" style="background-color: #c5ab56;"></span><span class="color-name">Polished Brass</span><span> 33C-4D</span></div>
<div><span class="color-swatch" style="background-color: #ecefdc;"></span><span class="color-name">Absinthe</span><span> 42A-2P</span></div>
<div><span class="color-swatch" style="background-color: #eeeec2;"></span><span class="color-name">Leaf Scent</span><span> 40A-2P</span></div>
<div><span class="color-swatch" style="background-color: #e3d281;"></span><span class="color-name">Honeycomb</span><span> 33B-3T</span></div>
<div><span class="color-swatch" style="background-color: #e4eacc;"></span><span class="color-name">Touch-O-Lime</span><span> 42A-3P</span></div>
<div><span class="color-swatch" style="background-color: #c6d4a1;"></span><span class="color-name">Carolina Green</span><span> 42C-2T</span></div>
<div><span class="color-swatch" style="background-color: #acbf7d;"></span><span class="color-name">Green Aspen</span><span> 42C-3D</span></div>
<div><span class="color-swatch" style="background-color: #d1e3bf;"></span><span class="color-name">Crystal Green</span><span> 43C-1P</span></div>
<div><span class="color-swatch" style="background-color: #b9d2a3;"></span><span class="color-name">Monterey Green</span><span> 43C-2T</span></div>
<div><span class="color-swatch" style="background-color: #c6dbba;"></span><span class="color-name">Willowbrook</span><span> 44B-1P</span></div>
<div><span class="color-swatch" style="background-color: #dcedd4;"></span><span class="color-name">Glacial Green</span><span> 53A-3P</span></div>
<div><span class="color-swatch" style="background-color: #9cbc80;"></span><span class="color-name">Moss Green</span><span> 43C-3D</span></div>
<div><span class="color-swatch" style="background-color: #8db087;"></span><span class="color-name">Pea Pod</span><span> 44C-3D</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #759870;"></span><span class="color-name">Polo Green</span><span> 44C-4D</span></div>
<div><span class="color-swatch" style="background-color: #8fbb89;"></span><span class="color-name">Ceramic Jade</span><span> 45C-3D</span></div>
<div><span class="color-swatch" style="background-color: #c7e2c4;"></span><span class="color-name">Tabor Hill</span><span> 46C-1P</span></div>
<div><span class="color-swatch" style="background-color: #dcebdd;"></span><span class="color-name">Jamaican Mist</span><span> 54A-WP</span></div>
<div><span class="color-swatch" style="background-color: #97c6ac;"></span><span class="color-name">Porcelain Green</span><span> 54C-2T</span></div>
<div><span class="color-swatch" style="background-color: #6ba080;"></span><span class="color-name">Jester</span><span> 54C-4D</span></div>
<div><span class="color-swatch" style="background-color: #c0ddd4;"></span><span class="color-name">Sunlit Sea</span><span> 55C-1P</span></div>
<div><span class="color-swatch" style="background-color: #98c5c0;"></span><span class="color-name">Sea Vista</span><span> 56C-2T</span></div>
<div><span class="color-swatch" style="background-color: #5e908c;"></span><span class="color-name">Gemstone</span><span> 56C-4D</span></div>
<div><span class="color-swatch" style="background-color: #dcede7;"></span><span class="color-name">Calm Sky</span><span> 57A-2P</span></div>
<div><span class="color-swatch" style="background-color: #94d3ca;"></span><span class="color-name">Azurean</span><span> 56B-2T</span></div>
<div><span class="color-swatch" style="background-color: #c5e6e2;"></span><span class="color-name">Huron Foam</span><span> 57A-3P</span></div>
<div><span class="color-swatch" style="background-color: #6cb6b3;"></span><span class="color-name">Bahama Sea</span><span> 57B-3D</span></div>
<div><span class="color-swatch" style="background-color: #b5d4d4;"></span><span class="color-name">Blue Frost</span><span> 57C-1P</span></div>
<div><span class="color-swatch" style="background-color: #72a0a4;"></span><span class="color-name">Indian Turquoise</span><span> 57C-3D</span></div>
<div><span class="color-swatch" style="background-color: #5c8b8f;"></span><span class="color-name">Airland Blue</span><span> 57C-3D</span></div>
<div><span class="color-swatch" style="background-color: #dce9e3;"></span><span class="color-name">Icy Haze</span><span> 58A-2P</span></div>
<div><span class="color-swatch" style="background-color: #8cc6cd;"></span><span class="color-name">Teton Blue</span><span> 58B-2T</span></div>
<div><span class="color-swatch" style="background-color: #67adb8;"></span><span class="color-name">Tiara Turquoise</span><span> 58D-3D</span></div>
<div><span class="color-swatch" style="background-color: #92b9c2;"></span><span class="color-name">Tahiti Blue</span><span> 58C-2T</span></div>
<div><span class="color-swatch" style="background-color: #6e9ba7;"></span><span class="color-name">Danube</span><span> 58C-3D</span></div>
<div><span class="color-swatch" style="background-color: #588692;"></span><span class="color-name">Catalina</span><span> 58C-4D</span></div>
<div><span class="color-swatch" style="background-color: #b0d6df;"></span><span class="color-name">Tropical Sky</span><span> 59B-1P</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #8ec4d4;"></span><span class="color-name">Lake Placid</span><span> 59B-2T</span></div>
<div><span class="color-swatch" style="background-color: #67a8bc;"></span><span class="color-name">Mediterranean</span><span> 59B-3D</span></div>
<div><span class="color-swatch" style="background-color: #5197ab;"></span><span class="color-name">Unicorn Blue</span><span> 59B-4D</span></div>
<div><span class="color-swatch" style="background-color: #6e97a6;"></span><span class="color-name">Blue Mood</span><span> 59C-3D</span></div>
<div><span class="color-swatch" style="background-color: #e0e9e9;"></span><span class="color-name">Airy</span><span> 67A-2P</span></div>
<div><span class="color-swatch" style="background-color: #bfd6e7;"></span><span class="color-name">Blue Chiffon</span><span> 67A-3P</span></div>
<div><span class="color-swatch" style="background-color: #aed2e0;"></span><span class="color-name">Sistine Blue</span><span> 66B-1P</span></div>
<div><span class="color-swatch" style="background-color: #8abed6;"></span><span class="color-name">Bobby Blue</span><span> 66B-2T</span></div>
<div><span class="color-swatch" style="background-color: #67a3c1;"></span><span class="color-name">Marseilles Blue</span><span> 66B-3D</span></div>
<div><span class="color-swatch" style="background-color: #b2cbd9;"></span><span class="color-name">Polar Moon</span><span> 66C-1P</span></div>
<div><span class="color-swatch" style="background-color: #adcde6;"></span><span class="color-name">Lovebird Blue</span><span> 67B-1P</span></div>
<div><span class="color-swatch" style="background-color: #659ad1;"></span><span class="color-name">Grotto Blue</span><span> 67B-3D</span></div>
<div><span class="color-swatch" style="background-color: #4c87c8;"></span><span class="color-name">Spectrum Blue</span><span> 67B-4D</span></div>
<div><span class="color-swatch" style="background-color: #5b83aa;"></span><span class="color-name">Blueprint</span><span> 67C-4D</span></div>
<div><span class="color-swatch" style="background-color: #3860a0;"></span><span class="color-name">Blue Fury</span><span> 68A-1A</span></div>
<div><span class="color-swatch" style="background-color: #c4d5e6;"></span><span class="color-name">Johnny Blue</span><span> 68A-3P</span></div>
<div><span class="color-swatch" style="background-color: #91afd8;"></span><span class="color-name">Little Boy Blue</span><span> 68B-2T</span></div>
<div><span class="color-swatch" style="background-color: #7293c9;"></span><span class="color-name">Sterling Blue</span><span> 68D-3D</span></div>
<div><span class="color-swatch" style="background-color: #8ba2c7;"></span><span class="color-name">Colonel's Lady</span><span> 68C-2T</span></div>
<div><span class="color-swatch" style="background-color: #e2e4e6;"></span><span class="color-name">Frosty Violet</span><span> 70A-2P</span></div>
<div><span class="color-swatch" style="background-color: #ccd3e2;"></span><span class="color-name">Lively Lavender</span><span> 70A-3P</span></div>
<div><span class="color-swatch" style="background-color: #b3c4de;"></span><span class="color-name">Blue Lotus</span><span> 69B-1P</span></div>
<div><span class="color-swatch" style="background-color: #7e94c0;"></span><span class="color-name">Blue Suede</span><span> 69C-3D</span></div>
<div><span class="color-swatch" style="background-color: #cdceda;"></span><span class="color-name">Evening Haze</span><span> 71A-3P</span></div>
</span></div>
<div class="color-chart">
<h2>NATURAL & SHADED COLORS</h2>
<div><span class="color-swatch" style="background-color: #594342;"></span><span class="color-name">Old Hickory</span><span> 8A-1A</span></div>
<div><span class="color-swatch" style="background-color: #d8c4c0;"></span><span class="color-name">Mauve Mist</span><span> 8A-3P</span></div>
<div><span class="color-swatch" style="background-color: #ceb2b4;"></span><span class="color-name">Mission Rose</span><span> 8B-1P</span></div>
<div><span class="color-swatch" style="background-color: #bc9a9d;"></span><span class="color-name">Fading Rose</span><span> 8B-2T</span></div>
<div><span class="color-swatch" style="background-color: #cbb4af;"></span><span class="color-name">Coral Brown</span><span> 8C-2T</span></div>
<div><span class="color-swatch" style="background-color: #9a7975;"></span><span class="color-name">Chocolate Mousse</span><span> 8C-3D</span></div>
<div><span class="color-swatch" style="background-color: #81615d;"></span><span class="color-name">Ginger Brown</span><span> 8C-4D</span></div>
<div><span class="color-swatch" style="background-color: #ece2d9;"></span><span class="color-name">Dune Beige</span><span> 9A-2P</span></div>
<div><span class="color-swatch" style="background-color: #e2d0c6;"></span><span class="color-name">Spice Beige</span><span> 9A-3P</span></div>
<div><span class="color-swatch" style="background-color: #cdafab;"></span><span class="color-name">Cinnaswirl</span><span> 9B-1P</span></div>
<div><span class="color-swatch" style="background-color: #724b42;"></span><span class="color-name">Roanoke Red</span><span>10A-1A</span></div>
<div><span class="color-swatch" style="background-color: #d5b8ac;"></span><span class="color-name">Dusty Coral</span><span> 10A-3P</span></div>
<div><span class="color-swatch" style="background-color: #9d7064;"></span><span class="color-name">Red Java</span><span> 10B-3D</span></div>
<div><span class="color-swatch" style="background-color: #c8a69a;"></span><span class="color-name">Young Doe</span><span> 10C-1P</span></div>
<div><span class="color-swatch" style="background-color: #ad8578;"></span><span class="color-name">Brown Rose</span><span> 10C-2T</span></div>
<div><span class="color-swatch" style="background-color: #6f4e42;"></span><span class="color-name">Carnelian</span><span> 11A-1A</span></div>
<div><span class="color-swatch" style="background-color: #d1ad9d;"></span><span class="color-name">Country May</span><span> 11B-1P</span></div>
<div><span class="color-swatch" style="background-color: #b88d7c;"></span><span class="color-name">Bread Pudding</span><span> 11B-2T</span></div>
<div><span class="color-swatch" style="background-color: #aa7a68;"></span><span class="color-name">Branch Bough</span><span> 11B-3D</span></div>
<div><span class="color-swatch" style="background-color: #986958;"></span><span class="color-name">Light Earth</span><span> 11B-4D</span></div>
<div><span class="color-swatch" style="background-color: #d5baaa;"></span><span class="color-name">Tan Wisp</span><span> 11C-1P</span></div>
<div><span class="color-swatch" style="background-color: #bf9d8a;"></span><span class="color-name">Clove Dust</span><span> 11C-2T</span></div>
<div><span class="color-swatch" style="background-color: #a9836d;"></span><span class="color-name">Spicecake</span><span> 11C-3D</span></div>
<div><span class="color-swatch" style="background-color: #97705b;"></span><span class="color-name">Sable Brush</span><span> 11C-4D</span></div>
<div><span class="color-swatch" style="background-color: #d9c6ba;"></span><span class="color-name">Mauve Blush</span><span> 12A-3P</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #af9b8c;"></span><span class="color-name">Indian Tan</span><span> 12C-2T</span></div>
<div><span class="color-swatch" style="background-color: #9d8877;"></span><span class="color-name">Mayfair Tan</span><span> 12C-3D</span></div>
<div><span class="color-swatch" style="background-color: #8b7464;"></span><span class="color-name">Rich Earth</span><span> 12C-4D</span></div>
<div><span class="color-swatch" style="background-color: #525151;"></span><span class="color-name">Cumberland</span><span> 13A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e6e5dc;"></span><span class="color-name">Ermine White</span><span> 13A-2P</span></div>
<div><span class="color-swatch" style="background-color: #d5d3cd;"></span><span class="color-name">Alabaster</span><span> 13A-3P</span></div>
<div><span class="color-swatch" style="background-color: #c8c7c1;"></span><span class="color-name">Mortar Gray</span><span> 13B-1P</span></div>
<div><span class="color-swatch" style="background-color: #adaca7;"></span><span class="color-name">Dauphin Gray</span><span> 13B-2T</span></div>
<div><span class="color-swatch" style="background-color: #94918b;"></span><span class="color-name">Great Smokies</span><span> 13B-3D</span></div>
<div><span class="color-swatch" style="background-color: #8c8d8b;"></span><span class="color-name">Weathered Gray</span><span> 13C-3D</span></div>
<div><span class="color-swatch" style="background-color: #777876;"></span><span class="color-name">Slate Gray</span><span> 13C-4D</span></div>
<div><span class="color-swatch" style="background-color: #785441;"></span><span class="color-name">Bronco Brown</span><span> 21A-1A</span></div>
<div><span class="color-swatch" style="background-color: #eee2d1;"></span><span class="color-name">Fair Complexion</span><span> 21A-2P</span></div>
<div><span class="color-swatch" style="background-color: #e3ccb8;"></span><span class="color-name">Tinge of Peach</span><span> 12A-3P</span></div>
<div><span class="color-swatch" style="background-color: #dcc0ab;"></span><span class="color-name">Irish Cream</span><span> 21B-1P</span></div>
<div><span class="color-swatch" style="background-color: #ae8468;"></span><span class="color-name">Cherokee Tan</span><span> 21B-3D</span></div>
<div><span class="color-swatch" style="background-color: #9d7357;"></span><span class="color-name">India</span><span> 21B-4D</span></div>
<div><span class="color-swatch" style="background-color: #ab876f;"></span><span class="color-name">Iced Coffee</span><span> 21C-3D</span></div>
<div><span class="color-swatch" style="background-color: #995b40;"></span><span class="color-name">Really Rust</span><span> 22A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e9ccb9;"></span><span class="color-name">October Haze</span><span> 22A-3P</span></div>
<div><span class="color-swatch" style="background-color: #d2a287;"></span><span class="color-name">Evening Sun</span><span> 22B-2T</span></div>
<div><span class="color-swatch" style="background-color: #c2896d;"></span><span class="color-name">Buckeye</span><span> 22B-3D</span></div>
<div><span class="color-swatch" style="background-color: #e4bfa3;"></span><span class="color-name">Petal Peach</span><span> 22C-1P</span></div>
<div><span class="color-swatch" style="background-color: #b67b58;"></span><span class="color-name">Bright Sienna</span><span> 22C-4D</span></div>
<div><span class="color-swatch" style="background-color: #9e714b;"></span><span class="color-name">Pecan Pie</span><span> 23A-1A</span></div>
<div><span class="color-swatch" style="background-color: #ebd5bf;"></span><span class="color-name">Toasted Macaroon</span><span> 23A-3P</span></div>
<div><span class="color-swatch" style="background-color: #e7c7aa;"></span><span class="color-name">Light Apricot</span><span> 23B-1P</span></div>
<div><span class="color-swatch" style="background-color: #c99570;"></span><span class="color-name">Tangelo</span><span> 23B-3D</span></div>
<div><span class="color-swatch" style="background-color: #7d5c43;"></span><span class="color-name">Rich Chocolate</span><span> 24A-1A</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #e2d3be;"></span><span class="color-name">Flax</span><span> 24A-3P</span></div>
<div><span class="color-swatch" style="background-color: #bea489;"></span><span class="color-name">Sahara Sand</span><span> 24B-2T</span></div>
<div><span class="color-swatch" style="background-color: #a6896c;"></span><span class="color-name">Harvest Tan</span><span> 24B-3D</span></div>
<div><span class="color-swatch" style="background-color: #92765a;"></span><span class="color-name">Cocoa Mix</span><span> 24B-4D</span></div>
<div><span class="color-swatch" style="background-color: #a08368;"></span><span class="color-name">Cocoa Bean</span><span> 24C-3D</span></div>
<div><span class="color-swatch" style="background-color: #8b6f57;"></span><span class="color-name">Fudge</span><span> 24C-4D</span></div>
<div><span class="color-swatch" style="background-color: #665246;"></span><span class="color-name">Chocolate Chip</span><span> 25A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e1d7c7;"></span><span class="color-name">Antique Ivory</span><span> 25A-3P</span></div>
<div><span class="color-swatch" style="background-color: #beb09a;"></span><span class="color-name">Malibu Sand</span><span> 25B-2T</span></div>
<div><span class="color-swatch" style="background-color: #ae9d84;"></span><span class="color-name">Franciscan Robe</span><span> 25B-3D</span></div>
<div><span class="color-swatch" style="background-color: #98856d;"></span><span class="color-name">Tulip Wood</span><span> 25B-4D</span></div>
<div><span class="color-swatch" style="background-color: #d8cec1;"></span><span class="color-name">Cocoa Parfait</span><span> 25C-1P</span></div>
<div><span class="color-swatch" style="background-color: #95826f;"></span><span class="color-name">Brushwood</span><span> 25C-4D</span></div>
<div><span class="color-swatch" style="background-color: #574b44;"></span><span class="color-name">Cafe Noir</span><span> 26A-1A</span></div>
<div><span class="color-swatch" style="background-color: #d2cbc6;"></span><span class="color-name">Your Shadow</span><span> 26A-3P</span></div>
<div><span class="color-swatch" style="background-color: #ab9d96;"></span><span class="color-name">Autumn Brown</span><span> 26B-2T</span></div>
<div><span class="color-swatch" style="background-color: #94847b;"></span><span class="color-name">Cocotone</span><span> 26B-3D</span></div>
<div><span class="color-swatch" style="background-color: #c4bbb6;"></span><span class="color-name">Silver Velvet</span><span> 26C-1P</span></div>
<div><span class="color-swatch" style="background-color: #7b6f69;"></span><span class="color-name">Ranch Mink</span><span> 26C-4D</span></div>
<div><span class="color-swatch" style="background-color: #eae3d1;"></span><span class="color-name">Dutch Cream</span><span> 34A-2P</span></div>
<div><span class="color-swatch" style="background-color: #ddcaae;"></span><span class="color-name">Rice Puff</span><span> 34B-1P</span></div>
<div><span class="color-swatch" style="background-color: #c8af90;"></span><span class="color-name">Tropic Tan</span><span> 34B-2T</span></div>
<div><span class="color-swatch" style="background-color: #ae916e;"></span><span class="color-name">Cocoon</span><span> 34B-3D</span></div>
<div><span class="color-swatch" style="background-color: #997c5c;"></span><span class="color-name">Oak Brown</span><span> 34B-4D</span></div>
<div><span class="color-swatch" style="background-color: #cfc0a9;"></span><span class="color-name">Tea N Cream</span><span> 34C-1P</span></div>
<div><span class="color-swatch" style="background-color: #a18c6f;"></span><span class="color-name">Grenadier Gold</span><span> 34C-3D</span></div>
<div><span class="color-swatch" style="background-color: #8b765a;"></span><span class="color-name">Hollandia</span><span> 34C-4D</span></div>
<div><span class="color-swatch" style="background-color: #826b4e;"></span><span class="color-name">Beech Tree</span><span> 35A-1A</span></div>
<div><span class="color-swatch" style="background-color: #F1EADC;"></span><span class="color-name">Ivory Vapor</span><span> 35A-2P</span></div>
<div><span class="color-swatch" style="background-color: #e9dcc7;"></span><span class="color-name">Bleached Sand</span><span> 35A-3P</span></div>
<div><span class="color-swatch" style="background-color: #dfcdb2;"></span><span class="color-name">Biscuit</span><span> 35B-1P</span></div>
<div><span class="color-swatch" style="background-color: #c9b392;"></span><span class="color-name">Lowell</span><span> 35B-2T</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #ab906e;"></span><span class="color-name">Boca Raton</span><span> 35C-3D</span></div>
<div><span class="color-swatch" style="background-color: #9b7943;"></span><span class="color-name">Deep Amber</span><span> 36A-1A</span></div>
<div><span class="color-swatch" style="background-color: #efddb7;"></span><span class="color-name">Moondance</span><span> 36A-3P</span></div>
<div><span class="color-swatch" style="background-color: #efead7;"></span><span class="color-name">Cleo</span><span> 48A-2P</span></div>
<div><span class="color-swatch" style="background-color: #dcbf8a;"></span><span class="color-name">Cane</span><span> 36B-1T</span></div>
<div><span class="color-swatch" style="background-color: #d2b172;"></span><span class="color-name">Harvest</span><span> 36B-2D</span></div>
<div><span class="color-swatch" style="background-color: #c9af86;"></span><span class="color-name">Applewood</span><span> 36C-2T</span></div>
<div><span class="color-swatch" style="background-color: #897048;"></span><span class="color-name">Saddlebag</span><span> 37A-1A</span></div>
<div><span class="color-swatch" style="background-color: #f3eed7;"></span><span class="color-name">Ivory Tusk</span><span> 37A-2P</span></div>
<div><span class="color-swatch" style="background-color: #e9dbb1;"></span><span class="color-name">Infinity</span><span> 37B-1P</span></div>
<div><span class="color-swatch" style="background-color: #e8dab3;"></span><span class="color-name">Old Parchment</span><span> 37C-1P</span></div>
<div><span class="color-swatch" style="background-color: #dbc693;"></span><span class="color-name">Kitty Hawk</span><span> 37C-2T</span></div>
<div><span class="color-swatch" style="background-color: #b39855;"></span><span class="color-name">Antique Brass</span><span> 37C-4A</span></div>
<div><span class="color-swatch" style="background-color: #746546;"></span><span class="color-name">Stratum Rock</span><span> 38A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e3dcc9;"></span><span class="color-name">Bone</span><span> 38A-3P</span></div>
<div><span class="color-swatch" style="background-color: #dfd3b5;"></span><span class="color-name">Sand Dollar</span><span> 38B-1P</span></div>
<div><span class="color-swatch" style="background-color: #cfbe97;"></span><span class="color-name">Buff</span><span> 38B-2T</span></div>
<div><span class="color-swatch" style="background-color: #c0ad80;"></span><span class="color-name">Temple Gold</span><span> 38B-3D</span></div>
<div><span class="color-swatch" style="background-color: #ae996c;"></span><span class="color-name">Tiber Gold</span><span> 38D-4D</span></div>
<div><span class="color-swatch" style="background-color: #988c71;"></span><span class="color-name">Bavarian Brown</span><span> 38C-4D</span></div>
<div><span class="color-swatch" style="background-color: #d7d5cb;"></span><span class="color-name">Igloo</span><span> 39A-3P</span></div>
<div><span class="color-swatch" style="background-color: #ada58e;"></span><span class="color-name">Deep Twilight</span><span> 39B-3D</span></div>
<div><span class="color-swatch" style="background-color: #968d77;"></span><span class="color-name">Pepper</span><span> 39B-4D</span></div>
<div><span class="color-swatch" style="background-color: #c7c6bd;"></span><span class="color-name">Sequoia</span><span> 39C-1P</span></div>
<div><span class="color-swatch" style="background-color: #99968a;"></span><span class="color-name">Catfish</span><span> 39C-3D</span></div>
<div><span class="color-swatch" style="background-color: #868376;"></span><span class="color-name">Oyster Gray</span><span> 39C-4D</span></div>
<div><span class="color-swatch" style="background-color: #efeada;"></span><span class="color-name">Pearly Gates</span><span> 47A-2P</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #e6ddc8;"></span><span class="color-name">Plantation White</span><span> 47A-3P</span></div>
<div><span class="color-swatch" style="background-color: #c3b79a;"></span><span class="color-name">Riviera Sand</span><span> 47C-2T</span></div>
<div><span class="color-swatch" style="background-color: #b8a887;"></span><span class="color-name">Dodge City Tan</span><span> 47C-3D</span></div>
<div><span class="color-swatch" style="background-color: #d2c49a;"></span><span class="color-name">Japan Tan</span><span> 48B-2T</span></div>
<div><span class="color-swatch" style="background-color: #dfd5b6;"></span><span class="color-name">Antique Linen</span><span> 48C-1P</span></div>
<div><span class="color-swatch" style="background-color: #ccbe96;"></span><span class="color-name">Olive Wood</span><span> 48C-2T</span></div>
<div><span class="color-swatch" style="background-color: #b3a477;"></span><span class="color-name">Pepper Tree</span><span> 48C-3D</span></div>
<div><span class="color-swatch" style="background-color: #cfc9a3;"></span><span class="color-name">Primeval</span><span> 49B-2T</span></div>
<div><span class="color-swatch" style="background-color: #b8b080;"></span><span class="color-name">Russet Pear</span><span> 49B-3D</span></div>
<div><span class="color-swatch" style="background-color: #a59b6b;"></span><span class="color-name">Date Palm</span><span> 49B-4D</span></div>
<div><span class="color-swatch" style="background-color: #928969;"></span><span class="color-name">Glendive</span><span> 49C-4D</span></div>
<div><span class="color-swatch" style="background-color: #aeb37a;"></span><span class="color-name">Scallion</span><span> 50B-3D</span></div>
<div><span class="color-swatch" style="background-color: #daddbe;"></span><span class="color-name">Dusty Dawn</span><span> 50C-1P</span></div>
<div><span class="color-swatch" style="background-color: #c4c8a1;"></span><span class="color-name">Romaine</span><span> 50C-2T</span></div>
<div><span class="color-swatch" style="background-color: #a9af7f;"></span><span class="color-name">Alphalpha</span><span> 50C-3D</span></div>
<div><span class="color-swatch" style="background-color: #616f4d;"></span><span class="color-name">Ripe Avocado</span><span> 51A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e9ecdb;"></span><span class="color-name">Winter Park</span><span> 51A-2P</span></div>
<div><span class="color-swatch" style="background-color: #d2dab5;"></span><span class="color-name">Honeydew</span><span> 51B-1P</span></div>
<div><span class="color-swatch" style="background-color: #a8b680;"></span><span class="color-name">Twig Green</span><span> 51B-3D</span></div>
<div><span class="color-swatch" style="background-color: #91a269;"></span><span class="color-name">Lettuce Green</span><span> 51B-4D</span></div>
<div><span class="color-swatch" style="background-color: #899971;"></span><span class="color-name">Hollyhock</span><span> 51C-4D</span></div>
<div><span class="color-swatch" style="background-color: #c6ccc4;"></span><span class="color-name">Airway</span><span> 52B-1P</span></div>
<div><span class="color-swatch" style="background-color: #959b92;"></span><span class="color-name">Flint Ridge</span><span> 52B-3D</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #7b8279;"></span><span class="color-name">Gun Metal</span><span> 52B-4D</span></div>
<div><span class="color-swatch" style="background-color: #c2c8c1;"></span><span class="color-name">New Wave Gray</span><span> 52C-1P</span></div>
<div><span class="color-swatch" style="background-color: #576f5f;"></span><span class="color-name">Grenada</span><span> 60A-1A</span></div>
<div><span class="color-swatch" style="background-color: #cbdac7;"></span><span class="color-name">Green Bay</span><span> 60B-1P</span></div>
<div><span class="color-swatch" style="background-color: #aec2ae;"></span><span class="color-name">Green Pearl</span><span> 60B-2T</span></div>
<div><span class="color-swatch" style="background-color: #91a68f;"></span><span class="color-name">Green Drift</span><span> 60B-3D</span></div>
<div><span class="color-swatch" style="background-color: #c2d2c4;"></span><span class="color-name">Smoke Green</span><span> 60C-1P</span></div>
<div><span class="color-swatch" style="background-color: #6f8874;"></span><span class="color-name">Veridian</span><span> 60C-4D</span></div>
<div><span class="color-swatch" style="background-color: #435b5b;"></span><span class="color-name">Nocturnal Sea</span><span> 61A-1A</span></div>
<div><span class="color-swatch" style="background-color: #e2e7df;"></span><span class="color-name">Winter Whisper</span><span> 61A-2P</span></div>
<div><span class="color-swatch" style="background-color: #d0dbd4;"></span><span class="color-name">Bayou Mist</span><span> 61A-3P</span></div>
<div><span class="color-swatch" style="background-color: #a4b7b1;"></span><span class="color-name">Alaska Jade</span><span> 61B-2T</span></div>
<div><span class="color-swatch" style="background-color: #bdccc8;"></span><span class="color-name">Waterway</span><span> 61C-1P</span></div>
<div><span class="color-swatch" style="background-color: #819591;"></span><span class="color-name">Bayou Waters</span><span> 61C-3D</span></div>
<div><span class="color-swatch" style="background-color: #6d7f7c;"></span><span class="color-name">Briny Deep</span><span> 61C-4D</span></div>
<div><span class="color-swatch" style="background-color: #e0e8e2;"></span><span class="color-name">Silver Snow</span><span> 62A-2P</span></div>
<div><span class="color-swatch" style="background-color: #d8e2e1;"></span><span class="color-name">London Dawn</span><span> 74A-2P</span></div>
<div><span class="color-swatch" style="background-color: #cbd6d8;"></span><span class="color-name">Oxford Cloth</span><span> 63A-3P</span></div>
<div><span class="color-swatch" style="background-color: #b5c8cb;"></span><span class="color-name">Duchess Blue</span><span> 62B-1P</span></div>
<div><span class="color-swatch" style="background-color: #9ab4b9;"></span><span class="color-name">Alaskan Blue</span><span> 62B-2T</span></div>
<div><span class="color-swatch" style="background-color: #799399;"></span><span class="color-name">Blue Vein</span><span> 62B-3D</span></div>
<div><span class="color-swatch" style="background-color: #78919a;"></span><span class="color-name">Dutch Blue</span><span> 62C-3D</span></div>
<div><span class="color-swatch" style="background-color: #607981;"></span><span class="color-name">Castle Keep</span><span> 62C-4D</span></div>
<div><span class="color-swatch" style="background-color: #abc5cd;"></span><span class="color-name">Tyrol Blue</span><span> 63B-1P</span></div>
<div><span class="color-swatch" style="background-color: #85a7b4;"></span><span class="color-name">Aspiration</span><span> 63B-2T</span></div>
<div><span class="color-swatch" style="background-color: #6f93a0;"></span><span class="color-name">Portland Blue</span><span> 63B-3D</span></div>
<div><span class="color-swatch" style="background-color: #577a89;"></span><span class="color-name">Fiord Blue</span><span> 63B-4D</span></div>
<div><span class="color-swatch" style="background-color: #c1cfd3;"></span><span class="color-name">Snow Glow</span><span> 63C-1P</span></div>
<div><span class="color-swatch" style="background-color: #9bb1ba;"></span><span class="color-name">Blue Earth</span><span> 63C-2T</span></div>
<div><span class="color-swatch" style="background-color: #6a828e;"></span><span class="color-name">Dark Sea</span><span> 63C-4D</span></div>
<div><span class="color-swatch" style="background-color: #3b5365;"></span><span class="color-name">Cypress Blue</span><span> 64A-1A</span></div>
<div><span class="color-swatch" style="background-color: #dfe6e2;"></span><span class="color-name">Blue Ice</span><span> 64A-2P</span></div>
<!-- <div>---</span><span> -->
<div><span class="color-swatch" style="background-color: #bed0db;"></span><span class="color-name">Blue Goddess</span><span> 64B-1P</span></div>
<div><span class="color-swatch" style="background-color: #99b4c7;"></span><span class="color-name">Blue Eyes</span><span> 64B-2T</span></div>
<div><span class="color-swatch" style="background-color: #618196;"></span><span class="color-name">Florentine Blue</span><span> 64B-4D</span></div>
<div><span class="color-swatch" style="background-color: #748b9e;"></span><span class="color-name">Historic Blue</span><span> 64C-3D</span></div>
<div><span class="color-swatch" style="background-color: #60758a;"></span><span class="color-name">Blue Manor</span><span> 64C-4D</span></div>
<div><span class="color-swatch" style="background-color: #99a1a2;"></span><span class="color-name">Penguin</span><span> 65B-2T</span></div>
<div><span class="color-swatch" style="background-color: #b7c0c1;"></span><span class="color-name">Bright Steel</span><span> 65C-1P</span></div>
<div><span class="color-swatch" style="background-color: #667074;"></span><span class="color-name">Peking</span><span> 65C-4D</span></div>
<div><span class="color-swatch" style="background-color: #c6d4dc;"></span><span class="color-name">Echo</span><span> 74A-3P</span></div>
<div><span class="color-swatch" style="background-color: #99a9b8;"></span><span class="color-name">Pale Cadet</span><span> 73B-2T</span></div>
<div><span class="color-swatch" style="background-color: #758898;"></span><span class="color-name">Copenhagen</span><span> 73B-3D</span></div>
<div><span class="color-swatch" style="background-color: #5f7080;"></span><span class="color-name">Beethoven Blue</span><span> 73B-4D</span></div>
<div><span class="color-swatch" style="background-color: #b7c0c7;"></span><span class="color-name">Heavenly Gray</span><span> 73C-1P</span></div>
<div><span class="color-swatch" style="background-color: #99a4b0;"></span><span class="color-name">Gray Duck</span><span> 73C-2T</span></div>
<div><span class="color-swatch" style="background-color: #798690;"></span><span class="color-name">Alpine</span><span> 73C-3D</span></div>
<div><span class="color-swatch" style="background-color: #a9becf;"></span><span class="color-name">Delphinium</span><span> 74B-1P</span></div>
<div><span class="color-swatch" style="background-color: #7491ad;"></span><span class="color-name">Pottery Blue</span><span> 74B-3D</span></div>
<div><span class="color-swatch" style="background-color: #5c7a97;"></span><span class="color-name">La Triviata</span><span> 74B-4D</span></div>
<div><span class="color-swatch" style="background-color: #758fa5;"></span><span class="color-name">Night Fall</span><span> 74C-3D</span></div>
<div><span class="color-swatch" style="background-color: #e5e5e3;"></span><span class="color-name">Contralto</span><span> 77A-2P</span></div>
<div><span class="color-swatch" style="background-color: #c0ccd7;"></span><span class="color-name">Adriatic Haze</span><span> 75A-3P</span></div>
<div><span class="color-swatch" style="background-color: #97abc8;"></span><span class="color-name">Delta Water</span><span> 75B-2T</span></div>
<div><span class="color-swatch" style="background-color: #60799e;"></span><span class="color-name">Blue Shadow</span><span> 75B-4D</span></div>
<div><span class="color-swatch" style="background-color: #b3c3d2;"></span><span class="color-name">Midsummer</span><span> 75C-1P</span></div>
<!-- <div>---</span><span> -->	
<div><span class="color-swatch" style="background-color: #6d83a0;"></span><span class="color-name">Napoleon</span><span> 75C-3D</span></div>
<div><span class="color-swatch" style="background-color: #4e6079;"></span><span class="color-name">Bristol Blue</span><span> 75C-4A</span></div>
<div><span class="color-swatch" style="background-color: #b2c0d5;"></span><span class="color-name">Bleu Celeste</span><span> 76B-1P</span></div>
<div><span class="color-swatch" style="background-color: #cfcdd7;"></span><span class="color-name">Lavender and Lace</span><span> 77A-3P</span></div>
<div><span class="color-swatch" style="background-color: #a1abc4;"></span><span class="color-name">French Blue</span><span> 76C-2T</span></div>
<div><span class="color-swatch" style="background-color: #7e8cab;"></span><span class="color-name">Purple Ribbon</span><span> 76C-3D</span></div>
<div><span class="color-swatch" style="background-color: #c7ced2;"></span><span class="color-name">Blue Glow</span><span> 73A-3P</span></div>
<div><span class="color-swatch" style="background-color: #c8cdcf;"></span><span class="color-name">Sterling</span><span> 78A-3P</span></div>
<div><span class="color-swatch" style="background-color: #c8cecd;"></span><span class="color-name">Mirage Lake</span><span> 65A-3P</span></div>
<div><span class="color-swatch" style="background-color: #bcc3cc;"></span><span class="color-name">November Sky</span><span> 78B-1P</span></div>
<div><span class="color-swatch" style="background-color: #7c8697;"></span><span class="color-name">Confederate Blue</span><span> 78B-3D</span></div>
<div><span class="color-swatch" style="background-color: #657081;"></span><span class="color-name">Indigo Velvet</span><span> 78B-4D</span></div>
<div><span class="color-swatch" style="background-color: #99a1a9;"></span><span class="color-name">Silver Spur</span><span> 78C-2T</span></div>
<div><span class="color-swatch" style="background-color: #7b848b;"></span><span class="color-name">Gray Tweed</span><span> 79C-3D</span></div>
<div><span class="color-swatch" style="background-color: #656d75;"></span><span class="color-name">Dark Shadow</span><span> 78C-4D</span></div>
</span></div>