<header class="mobile">
<div class="social">
<div class="contacts">
	<a class="icon" href="tel:8558282683"><img src="/static/img/MSC-headericon-phone.svg" alt="phone icon"></a>
	<a class="phone-number" href="tel:8558282683">(855) 828-2683</a>
</div>
<div class="media">
	<a class="icon" href="https://facebook.com/midsouthcoatings"><img src="/static/img/MSC-headericon-FB.svg" alt="phone icon"></a> 
	<!--a class="icon" href="https://instagram.com/midsouthcoatings">Instagram</a-->
</div>
</div>
<div class="main-nav">
<div class="mobile-menu">
    <button class="hamburger hamburger--squeeze" aria-label="Menu" aria-controls="primary-menu" aria-expanded="false" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
	<a class="mainlink" href="{{ '/' | url }}"><img src="/static/img/MSC-header-logo.svg" alt="{{ metadata.title }}"></a>
	<a class="request-quote" href="/contact">Request A Quote</a>
</div>
{% include "components/nav.njk" %}
</header>

<header class="desktop">
	<div class="menu-container flex space-between">
		<div>
			<div class="contacts">
				<a class="icon" href="tel:8558282683"><img src="/static/img/MSC-headericon-phone.svg" alt="phone icon"></a>
				<a class="phone-number" href="tel:8558282683">(855) 828-2683</a>
			</div>
			<div class="desktop-menu flex align-items-center">
			    <button class="hamburger hamburger--squeeze" aria-label="Menu" aria-controls="primary-menu" aria-expanded="false" type="button">
			        <span class="hamburger-box">
			            <span class="hamburger-inner"></span>
			        </span>
			    </button>
			    <a class="request-quote" href="/contact">Request A Quote</a>
			</div>
		</div>
		<div class="main-nav">
			<a class="mainlink" href="{{ '/' | url }}"><img src="/static/img/MSC-header-logo.svg" alt="{{ metadata.title }}"></a>
		</div>
		<div class="social">
			<div class="media">
				<a class="icon" href="https://facebook.com/midsouthcoatings"><img src="/static/img/MSC-headericon-FB.svg" alt="phone icon"></a> 
				<!--a class="icon" href="https://instagram.com/midsouthcoatings">Instagram</a-->
			</div>
			<div class="hours">
				<p>Open Monday - Saturday 8 am to 5 pm</p>
			</div>
		</div>
	</div>
	{% include "components/nav.njk" %}
</header>